*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F8FAB2;
}

header {
    position: relative;
}

.active{
    font-weight: 700;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.action-btn{
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover{
    scale: 1.05;
    color: #EBA236;
}

.action-btn:active{
    scale: 0.95;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover{
    color: #EBA236;
}

/* Section */
#blog{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #FAE67D;
    max-width: 1200px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading span {
    color: #EBA236;
}

.heading h1{
    font-size: 2.5rem;
}

.container-top{
    margin-top: 50px;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #DAD182;
    border-radius: 10px;
}

.top-img{
    width: 600px;
    height: auto;
    margin: 20px;
}

.top-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.top-text{
    width: 450px;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.top-text span{
    color: #EBA236;
    font-size: 0.9rem;
}

.top-text .text-tittle{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272227;
}

.top-text .text-tittle:hover{
    color: #EBA236;
    transition: all ease 0.3s;
}

.top-text p{
    color: #272227;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.top-text a{
    color: #0f0f0f;
}

.top-text a:hover{
    color: #EBA236;
    transition: all ease 0.3s;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.box{
    width: 350px;
    border-radius: 20px;
    margin: 10px;
}

.box-img{
    width: 100%;
    height: auto;
}

.box-img img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.box-text span{
    color: #EBA236;
    font-size: 0.9rem;
}

.box-text .text-tittle{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272227;
}

.box-text .text-tittle:hover{
    color: #EBA236;
    transition: all ease 0.3s;
}

.box-text p{
    color: #272227;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.box-text a{
    color: #0f0f0f;
}

.box-text a:hover{
    color: #EBA236;
    transition: all ease 0.3s;
}

/* Breakpoints */

@media(max-width:1250px) {
    .box{
        width: 300px;
    }
}

@media(max-width:1100px) {
    .box{
        width: 70%;
    }
}

@media(max-width:550px) {
    .box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}

@media (max-width : 1300px) {
    navbar {
        margin: 0 auto;
        width: 100%;
        height: 60px;
        max-width: 1024px;
    }

    #blog{
        max-width: 900px;
    }
    
    .container-top{
        margin-top: 50px;
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #DAD182;
        border-radius: 10px;
    }

    .top-img{
        width: 360px;
        height: auto;
        margin: 10px;
    }

    .top-text{
        width: 420px;
        padding: 20px;
    }

    .top-text span{
        font-size: 0.85rem;
    }

    .top-text .text-tittle{
        font-size: 1rem;
    }

    .top-text p{
        font-size: 0.8rem;
    }
}