@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #F8FAB2;
}

/* Header */
header {
    position: relative;
}

.active{
    font-weight: 700;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.action-btn{
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover{
    scale: 1.05;
    color: #EBA236;
}

.action-btn:active{
    scale: 0.95;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover{
    color: #EBA236;
}

/* First Section */
#container3 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-top: 75px;
}

/* First Left Section */
#leftThing {
  width: 275px;
  padding: 0px;
  margin-left: 30px;
  margin-right: -15px;
}

.sub1{
  width: 250px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.15);
}

#outday{
  margin-left: 70px;
  margin-top: 10px;
  position: absolute;
  font-size: 30px;
  color: #FFD000;
  text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
}

.sub1 img{
  width: 260px;
}

.childcont{
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 10px;
}

.left{
  width: 125px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.15) ;
}

.left img{
  width: 125px;
}

.right{
  width: 125px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.15) ;
  margin-left: 10px;
}

.right img{
  width: 125px;
}

#jam{
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 17px;
  text-shadow: 4px 4px 4px  rgb(0, 0, 0, 0.15);
}

#menit{
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 17px;
  text-shadow: 4px 4px 4px  rgb(0, 0, 0, 0.15);
}

/* Note */
#note{
  max-width: 400px;
  width: 50%;
  background-color: #FAE67D;
  border-radius: 10px;
  /* box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.15); */
  padding: 20px;
  margin-left: 20px;
  border: none;
}

#note h1{
  font-size: 1.4rem;
  font-weight: 500;
  color: #474747;
}

#note input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
}

#note hr{
  margin-top: 5px;
  border-top: 3px dotted #808080;
  width: 350px;
  height: 5px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

#note button{
  margin-top: 10px;
  margin-left: 110px;
  width: 150px;
  border: none;
  outline: none;
  padding: 5px 5px;
  background: #DAD182;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

#note ul li{
  list-style: none;
  font-size: 17px;
  padding: 5px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

#note ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("./assets/img/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

#note ul li.checked{
  color: #555;
  text-decoration: line-through;
}

#note ul li.checked::before{
  background-image: url("./assets/img/checked.png");
}

#note ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #555;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

#note ul li span:hover{
  background: #EBA236;
}


/* Calendar */
#rightThing {
  width: 400px;
  height : auto;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: auto 0 0 10px rgb(0, 0, 0, 0.15)
}

.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 20px 30px 5px;
  justify-content: space-between;
}

header .icons{
  display: flex;
}

header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child{
  margin-right: -10px;
}

header .icons span:hover{
  background: #f2f2f2;
}

header .current-date{
  font-size: 1rem;
  font-weight: 500;
}

.calendar{
  padding: 10px;
}

.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days{
  margin-bottom: 10px;
}

.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1rem;
}

.calendar .weeks li{
  font-weight: 500;
  cursor: default;
  margin-bottom: 20px;
  color: #EBA236;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}

.days li.inactive{
  color: #DAD182;
}

.days li.active{
  color: #fff;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before{
  background: #EBA236;
}

.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.custom-hr {
  margin: 50 auto;
  width: 1200px;
  height: 5px;
  border-style: none;
  background-color: #FEBF1F;
}


/* Second Section */
#container4 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-top: 50px;
}

#leftThing2 {
  width: 700px;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  margin-left: 20px;
}

#head{
  width: 700px;
  height : 100px;
  display: flex;
}

.judul3{
  color: #EBA236;
  margin: 20px;
  width: 300px;
  font-size: 2rem;
}

#search{
  width: 400px;
  height: 45px;
  margin-top: 20px;
  border-radius: 10px;
  border-style: solid;
  padding: 15px;
}

#cardtrack{
  width: 725px;
  height: auto;
  margin-top: 26px;
  overflow:scroll;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 140px;
    width: 700px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 28px;
    display: flex;
}

.bagikiri{
    width: 150px;
}

.imgcard{
    width: 60%;
    margin-top :25px;
    margin-left : 25px;
}
  
.bagitengah1{
    width: 300px;
}  

.titlecard{
    text-align: left;
    position: relative;
    color: #ffffff;
    margin-top: 25px;
    font-size: 1.75rem;
}

.cardtime{
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: #FFEF5A;
}
  
.bagitengah2{
    margin: 15px;
    width: 150px;
    margin-top: 30px;
}  

.bagitengah2 p{
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
  
/* .combo{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 35px;
    border-color: #949494;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
} */

.bagikanan span{
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-top: 10px;
    color: #474747;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: 35px;
}

.bagikanan span:hover{
  background: rgb(184, 184, 184);
  cursor: pointer;
}

.completion{
    margin-top: 30px;
}

.color-1 {
  background-color: #577BD7;
}

.color-2 {
  background-color: #57D76B;
}

.color-3 {
  background-color: #D75757;
}

.color-4 {
  background-color: #A657D7;
}

.color-5 {
  background-color: #57D7B0;
}

.color-6 {
  background-color: #D7BB57;
}

.color-7 {
  background-color: #D78557;
}

.color-8 {
  background-color: #D7576E;
}

.add-new{
  margin-top: 50px;
  text-align: center;
}

.add-new p{
  font-size: 2rem;
}

.add-new button{
  margin-top: 15px;
  border-radius: 50%;
  background-color: #DAD182;
  width: 100px;
  height: 100px;
  border: 0px;
  cursor: pointer;
  margin-bottom: 75px;
}

.add-new button span{
  font-weight: 700;
  font-size: 5rem;
}

::-webkit-scrollbar {
    width: 0px;
}

/*  Progress  */
#rightThing2{
  width: 400px;
  height: auto;
  margin: 0px 100px 0px 20px;
  border-radius: 10px;
  margin-left: 25px;
}
    
#head2{
  width: 425px;
  height : 100px;
  text-align: center;
}
    
.judul4{
  margin: 20px;
  color: #EBA236;
  font-size: 2rem;
}

#graph1{
    width: 425px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

#graph1 h1{
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -30px;
}

#graph1 div{
    background-color:#FAE67D;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 160px;
}

#graph1 span{
    font-size: 4rem;
    font-weight: 600;
    color: #EBA236;
}

#graph2{
    width: 425px;
    height: 310px;
    background-color: #ECEDE3;
    border-radius: 10px;
    margin: 20px;
}

#graph3{
    width: 425px;
    height: 290px;
    background-color: #ECEDE3;
    border-radius: 10px;
    margin: 20px;
}

@media (max-width : 1440px) { 
  .navbar {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    max-width: 1440px;
  }
  
  #container3{
    max-width: 1340px;
    height : 350px;
    margin-top: 75px;

  }
  #note{
    scale : 1;
    position: relative;
    margin-left: 30px;
    margin-right: 10px;
  }

  #rightThing{
    scale : 1;
  }

  #leftThing {
    scale : 1;
    margin-left: 80px;
  }

  #note ul li{
    font-size: 18px;

  }
  .custom-hr {
    margin: 50 auto;
    width: 1200px;
    height: 5px;
  }

  #container4 {
    max-width: 1440px;
    margin-top: 4px;
  }

  #leftThing2 {
    width: 700px;
    height: auto;
    border-radius: 10px;
    margin-left: 120px;
    margin-right: 10px;
  }

  #head{
    width: 700px;
    height : 50px;
  }

  .judul3{
    font-size: 1.4rem;
    margin-top: 24px;
  }

  #search{
    width: 380px;
    height: 40px;
  }

  .add-new p{
    font-size: 1rem;
  }
  
  .add-new button{
    width: 80px;
    height: 80px;
  }

  #rightThing2{
    width: 450px;
    height: auto;
  }

  #head2{
    width: 425px;
    height : 50px;
  }
      
  .judul4{
    margin-top: 24px;
    font-size: 1.4rem;
  }


  #graph1{
    width: 425px;
  }

  #graph1 h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -30px;
  }

}

@media (max-width : 1300px) { 
  .navbar {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    max-width: 1024px;
  }
  
  #container3{
    max-width: 1024px;
    height : 250px;
    margin-top: 30px;

  }
  #note{
    scale : 0.8;
    position: relative;
    margin-left: -45px;
  }

  #rightThing{
    scale : 0.65;
    margin-top: -28px;
    margin-left: -100px;
  }

  #leftThing {
    scale : 0.80;
    margin-left: 45px;
  }

  #note ul li{
    font-size: 14px;

  }
  .custom-hr {
    margin: 20 auto;
    width: 860px;
    height: 5px;
  }

  #container4 {
    max-width: 860px;
  }

  #leftThing2 {
    width: 540px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
  }

  #head{
    width: 540px;
    height : 50px;
  }

  .judul3{
    font-size: 1.2rem;
    margin-top: 24px;
  }

  #search{
    width: 330px;
    height: 40px;
    margin-left: -20px;
    margin-right: 2%;
  }

  #cardtrack{
  width: 540px;
  height: auto;
  margin-top: 26px;
  overflow:scroll;
  }

  .card {
    height: 120px;
    width: 540px;
  }

  .bagikiri{
    width: 100px;
  }

  .imgcard{
    width: 60%;
    margin-top :25px;
    margin-left : 10px;
  }
  
  .bagitengah1{
    width: 220px;
  }  

  .titlecard{
    font-size: 1.4rem;
    margin-left: 30px;
  }

.cardtime{
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 30px;
}

.bagitengah2{
    width: 120px;
}  

.bagitengah2 p{
  font-size: 1.2rem;
}

.bagikanan span{
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-top: 10px;
    color: #474747;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: 35px;
}
  .add-new p{
    font-size: 1rem;
  }
  
  .add-new button{
    width: 80px;
    height: 80px;
  }

  #rightThing2{
    width: 320px;
    height: auto;
  }

  #head2{
    width: 320px;
    height : 50px;
  }
      
  .judul4{
    margin-top: 24px;
    font-size: 1.2rem;
  }

  #graph1{
    width: 280px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
  }

  #graph1 h1{
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 20px;
  margin-top: -40px;
  }

  #graph1 div{

    margin-left: 100px;
  }
  #graph1 h2{
    margin-left: 20px;
  }
}