@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
  background-color: #F8FAB2;
}

/* Header */
header {
  position: relative;
  padding: 0 2rem;
}

.active{
  font-weight: 700;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.action-btn{
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action-btn:hover{
  scale: 1.05;
  color: #EBA236;
}

.action-btn:active{
  scale: 0.95;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

a:hover{
  color: #EBA236;
}

#tracking{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 75px;
}

.content {
  margin: 20px;
  text-align: center;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wide-column {
  flex: 2;
}

.item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  height: 50vh;
}

.card{
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 25px;
  margin-top: 30px;
}

.lingkaran1{
  width: 200px;
  height: 200px;
  background: #dac52c;
  border-radius: 100%;
  margin-top: 40px;
  margin-right: 50px;
  margin-left: 80px;
  margin-bottom: 30px;
  float: left;
}

h2{
  text-align: left;
}

p{
  text-align: left;
}

h3{
  border: 2px solid rgb(100, 100, 100);
  height: 60px;
  overflow: auto;
  padding: 10px; 
  text-align: center;
  width: 150px;
  margin-top: 30px;
  }


