@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #F8FAB2;
}

/* Header */
header {
    position: relative;
}

.active{
    font-weight: 700;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.action-btn{
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover{
    scale: 1.05;
    color: #EBA236;
}

.action-btn:active{
    scale: 0.95;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover{
    color: #EBA236;
}

/* Form Section */
#form{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #FAE67D;
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 50px;
}

#form .grid-container{
    display: inline-grid;
    grid-template-columns: 350px 800px;
    padding: 10px;
}

#form h1{
    font-size: 2.5rem;
}

.question li{
    margin: 30px;
    margin-bottom : 45px;
}

.question label{
    font-size: 1.7rem;
    font-weight: 300;
}

.form-input li{
    margin: 30px;

}

#form .bg-color {
    margin-top:770px;
}

/* Name */
.form-input .habit-name{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

/* Duration */
.form-input .habit-duration{
    padding: 10px;
    width: 600px;
}

.form-input .custom-radio{
    width: 25px;
}

.form-input .time-duration{
    font-size: 1.2rem;
    padding: 5px;
}

/* Time */
.form-input .habit-time{
    width: 16%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

/* Icon */
.form-input .habit-icon{
    background-color: #DAD182;
    padding: 30px;
    width: 85%;
    border-radius: 20px;
}

.form-input .habit-icon .grid-icon{
    display: inline-grid;
    grid-template-columns: 160px 160px 160px 160px;
}

.form-input .habit-icon label{
    margin: 30px;
    position: relative;
    cursor: pointer;
}

.form-input .habit-icon input[type="radio"]{
    position: absolute;
    opacity: 0;
}

.form-input .habit-icon input[type="radio"] + i {
	border-radius: 50%;
	padding: 12px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

.form-input .habit-icon input[type="radio"]:checked + i {
	color: black;
    background-color: #EBA236;
}

/* Color */
.form-input .habit-color{
    background-color: #DAD182;
    padding: 20px;
    width: 85%;
    border-radius: 20px;
}

.form-input .habit-color div {
    display: inline-block;
    margin: 5px;
}

.form-input .habit-color input[type="radio"] {
    display: none;
}

.form-input .habit-color input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.form-input .habit-color input[type="radio"] + label span {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    
    border: 2px solid #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 60px;
}

.form-input .habit-color input[type="radio"] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
  }

.form-input .habit-color input[type="radio"]#color-1 + label span {
    background-color: #577BD7;
}
  
.form-input .habit-colorinput[type="radio"]#color-1:checked + label span {
    box-shadow: 0 0 0 2px #577BD7;
}
  
.form-input .habit-color input[type="radio"]#color-2 + label span {
    background-color: #57D76B;
}
  
.form-input .habit-color input[type="radio"]#color-2:checked + label span {
    box-shadow: 0 0 0 2px #57D76B;
}
  
.form-input .habit-color input[type="radio"]#color-3 + label span {
    background-color: #D75757;
}
  
.form-input .habit-color input[type="radio"]#color-3:checked + label span {
    box-shadow: 0 0 0 2px #D75757;
}
  
.form-input .habit-color input[type="radio"]#color-4 + label span {
    background-color: #A657D7;
}
  
.form-input .habit-color input[type="radio"]#color-4:checked + label span {
    box-shadow: 0 0 0 2px #A657D7;
}
  
.form-input .habit-color input[type="radio"]#color-5 + label span {
    background-color: #57D7B0;
}
  
.form-input .habit-color input[type="radio"]#color-5:checked + label span {
    box-shadow: 0 0 0 2px #57D7B0;
}
  
.form-input .habit-color input[type="radio"]#color-6 + label span {
    background-color: #D7BB57;
}
  
.form-input .habit-color input[type="radio"]#color-6:checked + label span {
    box-shadow: 0 0 0 2px #D7BB57;
}
  
.form-input .habit-color input[type="radio"]#color-7 + label span {
    background-color: #D78557;
}
  
.form-input .habit-color input[type="radio"]#color-7:checked + label span {
    box-shadow: 0 0 0 2px #D78557;
}
  
.form-input .habit-color input[type="radio"]#color-8 + label span {
    background-color: #D7576E;
}
  
.form-input .habit-color input[type="radio"]#color-8:checked + label span {
    box-shadow: 0 0 0 2px #D7576E;
}
  
.form-input .habit-color input[type="radio"]:checked + label span img {
    opacity: 1;
}

/* Button */
.form-input .button{
    margin-top: 100px;
    width: 300px;
    margin-left: 400px;
}
  
.form-input .button div {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.form-input .custom-button {
    width: 300px;
    height: 45px;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #DAD182;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.form-input .custom-button:hover {
    background-color: #EBA236;
    box-shadow: 0px 15px 20px #EBA236(202, 229, 46, 0.4);
    transform: translateY(-5px);
}

@media (max-width : 1300px) {
    .navbar {
        margin: 0 auto;
        width: 100%;
        height: 60px;
        max-width: 1024px;
    }

    #form{
        max-width: 860px;
    }

    #form .grid-container{
        grid-template-columns: 280px 640px;
        padding: 8px;
    }
    #form h1{
        font-size: 1.5rem;
    }

    .question li{
        margin-bottom: 44px;
    }

    .question label{
        font-size: 1.2rem;
        font-weight: 300;
    }

    .form-input li{
        margin: 26px;
    }

    #form .bg-color {
        margin-top:630px;
    }

    .form-input .habit-duration{
        padding: 6px;
        width: 450px;
    }

    .form-input .custom-radio{
        width: 16px;
    }

    .form-input .time-duration{
        font-size: 0.9rem;
    }

    .form-input .habit-time{
        margin-top: -10px;
    }
    .form-input .habit-icon{
        width: 70%;
    }
    .form-input .habit-icon .grid-icon{
        display: inline-grid;
        grid-template-columns: 98px 98px 98px 98px;
    }

    .form-input .habit-icon label{
        margin: 14px;
    }

    .form-input .habit-color{
        background-color: #DAD182;
        padding: 20px;
        width: 70%;
        border-radius: 20px;
    }
    
    .form-input .habit-color input[type="radio"] + label {
        font-size: 12px;
    }

    .form-input .habit-color input[type="radio"] + label span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        
        border: 2px solid #fff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 40px;
    }

    .form-input .button{
        margin-top: 60px;
        width: 240px;
        margin-left: 230px;
    }
}