@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #F8FAB2;
}

/* Header */
header {
    position: relative;
    padding: 0 2rem;
}

.active{
    font-weight: 700;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.action-btn{
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover{
    scale: 1.05;
    color: #EBA236;
}

.action-btn:active{
    scale: 0.95;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover{
    color: #EBA236;
}

/* First Section */
#container3 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-top: 75px;
}

/* First Left Section */
#leftThing {
  width: 275px;
  padding: 0px;
  margin-left: 30px;
  margin-right: -15px;
}

.sub1{
  width: 250px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.15);
}

#outday{
  margin-left: 70px;
  margin-top: 10px;
  position: absolute;
  font-size: 30px;
  color: #FFD000;
  text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.15);
}

.sub1 img{
  width: 260px;
}

.childcont{
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 10px;
}

.left{
  width: 125px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.15) ;
}

.left img{
  width: 125px;
}

.right{
  width: 125px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.15) ;
  margin-left: 10px;
}

.right img{
  width: 125px;
}

#jam{
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 15px;
  text-shadow: 4px 4px 4px  rgb(0, 0, 0, 0.15);
}

#menit{
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
  text-shadow: 4px 4px 4px  rgb(0, 0, 0, 0.15);
}

/* Note */
#note{
  width: 400px;
  background-color: #FAE67D;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.15);
  padding: 20px;
  margin-left: 20px;
}

#myText{
  border-style: solid;
}

#Submit{
  height: 30px;
  width: 103px;
  border-radius: 10px;
  border-style: none;
  background-color: #9EB801;
}

#demo{
  margin: 20px 5px 0px 20px;
  font-size: 14px;
  width: 412px;
  height : 190px;
  overflow: scroll;
  text-align: justify;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/* Calendar */
#rightThing {
  width: 400px;
  height : auto;
  margin-left: 20px;
  background-color: #FDFDFD;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.15)
}

.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 20px 30px 5px;
  justify-content: space-between;
}

header .icons{
  display: flex;
}

header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child{
  margin-right: -10px;
}

header .icons span:hover{
  background: #f2f2f2;
}

header .current-date{
  font-size: 1rem;
  font-weight: 500;
}

.calendar{
  padding: 10px;
}

.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days{
  margin-bottom: 10px;
}

.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1rem;
}

.calendar .weeks li{
  font-weight: 500;
  cursor: default;
  margin-bottom: 20px;
  color: #EBA236;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}

.days li.inactive{
  color: #DAD182;
}

.days li.active{
  color: #fff;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before{
  background: #EBA236;
}

.days li:not(.active):hover::before{
  background: #f2f2f2;
}

hr {
  margin: 50 auto;
  width: 1200px;
  height: 5px;
  border-style: none;
  background-color: #FEBF1F;
}


/* Second Section */
#container4 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-top: 50px;
}

#leftThing2 {
  width: 700px;
  height : 1070px;
  margin: 0 auto;
  border-radius: 10px;
  margin-left: 20px;
}

#head{
  width: 700px;
  height : 100px;
  display: flex;
}

.judul3{
  color: #EBA236;
  margin: 20px;
  width: 300px;
  font-size: 2rem;
}

#search{
  width: 250px;
  height: 45px;
  margin-top: 20px;
  border-radius: 10px;
  border-style: solid;
  padding: 15px;
}

#cardtrack{
  width: 725px;
  height : 1010px;
  margin-top: 26px;
  overflow:scroll;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 140px;
    width: 700px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 28px;
    display: flex;
}

.bagikiri{
    width: 125px;
}

.imgcard{
    width: 60%;
    margin-top :25px;
    margin-left : 25px;
}
  
.bagitengah1{
    width: 250px;
    margin-left: 4%;
}  

.titlecard{
    text-align: left;
    position: relative;
    color: #ffffff;
    margin-top: 25px;
    font-size: 1.75rem;
}

.cardtime{
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: #FFEF5A;
}
  
.bagitengah2{
    margin: 15px;
    width: 125px;
    margin-left: 50px;
}  
  
.combo{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 35px;
    border-color: #949494;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}

.bagikanan{
    width: 50px;
    margin: 15px;
}

.completion{
    margin-top: 30px;
}

::-webkit-scrollbar {
    width: 0px;
}

/*  Progress  */
#rightThing2{
  width: 400px;
  height : 1057px;
  margin: 0px 100px 0px 20px;
  border-radius: 10px;
  margin-left: 25px;
}
    
#head2{
  width: 425px;
  height : 100px;
  text-align: center;
}
    
.judul4{
  margin: 20px;
  color: #EBA236;
  font-size: 2rem;
}

#graph1{
    width: 425px;
    height: 310px;
    background-color: #ECEDE3;
    margin: 20px;
    border-radius: 10px;
}

#graph2{
    width: 425px;
    height: 310px;
    background-color: #ECEDE3;
    border-radius: 10px;
    margin: 20px;
}

#graph3{
    width: 425px;
    height: 290px;
    background-color: #ECEDE3;
    border-radius: 10px;
    margin: 20px;
}

#inicanvas {
    scale: 1;
}

#linechart{
    scale: 0.92;
}

#barchart{
    scale: 0.94;
}